{
  "openapi": "3.1.0",
  "info": {
    "title": "Todoist API",
    "version": "1",
    "x-logo": {
      "url": "https://developer.todoist.com/images/td_logo-4f2a90df.svg"
    },
    "description": "Scoped subset of the Todoist API covering: projects, tasks, sections, comments, labels, user. Extracted from the full spec for the agent-diff learning run."
  },
  "servers": [
    {
      "url": "https://api.todoist.com/"
    }
  ],
  "paths": {
    "/api/v1/labels/shared/remove": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Shared Labels Remove",
        "description": "Remove the given shared label from all active tasks",
        "operationId": "shared_labels_remove_api_v1_labels_shared_remove_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_0680de45"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/labels/shared/rename": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Shared Labels Rename",
        "description": "Rename the given shared label from all active tasks",
        "operationId": "shared_labels_rename_api_v1_labels_shared_rename_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_6ec83bd4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/completed/by_completion_date": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Tasks Completed By Completion Date",
        "description": "Retrieves a list of completed tasks strictly limited by the specified completion\ndate range (up to 3 months).\n\nIt can retrieve completed items:\n\n- From all the projects the user has joined in a workspace\n- From all the projects of the user\n- That match many [supported\n  filters](https://todoist.com/help/articles/introduction-to-filters-V98wIH)\n\nBy default, the response is limited to a page containing a maximum of 50 items\n(configurable using `limit`).\n\nSubsequent pages of results can be fetched by using the `next_cursor` value from the\nresponse as the `cursor` value for the next request.",
        "operationId": "tasks_completed_by_completion_date_api_v1_tasks_completed_by_completion_date_get",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Since"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Until"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "section_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Section Id"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parent Id"
            }
          },
          {
            "name": "filter_query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1024
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter Query"
            }
          },
          {
            "name": "filter_lang",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter Lang"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksCompletedDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/completed/by_due_date": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Tasks Completed By Due Date",
        "description": "Retrieves a list of completed items strictly limited by the specified due date range\n(up to 6 weeks).\n\nIt can retrieve completed items:\n\n- From within a project, section, or parent item\n- From all the projects the user has joined in a workspace\n- From all the projects of the user\n- That match many [supported\n  filters](https://todoist.com/help/articles/introduction-to-filters-V98wIH)\n\nBy default, the response is limited to a page containing a maximum of 50 items\n(configurable using `limit`).\n\nSubsequent pages of results can be fetched by using the `next_cursor` value from the\nresponse as the `cursor` value for the next request.",
        "operationId": "tasks_completed_by_due_date_api_v1_tasks_completed_by_due_date_get",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Since"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "title": "Until"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "section_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Section Id"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parent Id"
            }
          },
          {
            "name": "filter_query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1024
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter Query"
            }
          },
          {
            "name": "filter_lang",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter Lang"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksCompletedDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/completed/stats": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Productivity Stats",
        "description": "Get comprehensive productivity statistics for the authenticated user.\n\nReturns detailed completion statistics including:\n- Daily completion counts with per-project breakdowns for the last 7 days\n- Weekly completion counts with per-project breakdowns for the last 4 weeks\n- Total completed task count\n- Karma score, trend, graph data, and update history\n- Goal settings (daily/weekly goals, ignore days, vacation mode)\n- Streak information (current, last, and maximum daily and weekly streaks)\n- Project color mappings for visualization",
        "operationId": "get_productivity_stats_api_v1_tasks_completed_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductivityStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/permissions": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Permissions",
        "description": "Returns a list of all the available roles and the associated actions they can\nperform in a project.",
        "operationId": "permissions_api_v1_projects_permissions_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleToActionMappingView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/archived": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Archived",
        "description": "Get the user's archived projects.",
        "operationId": "get_archived_api_v1_projects_archived_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ProjectV1View_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/search": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Search Projects",
        "description": "Search active user projects by name.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "search_projects_api_v1_projects_search_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "description": "Search query to match project names. Matching is case-insensitive. Queries are matched literally unless `*` (wildcard) is included. Use `\\*` for literal asterisk and `\\\\` for literal backslash.",
              "examples": [
                "Inbox",
                "Client *",
                "Q* 2026",
                "Draft\\*"
              ],
              "title": "Query"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_Annotated_Union_PersonalProjectSyncView__WorkspaceProjectSyncView___FieldInfo_annotation_NoneType__required_True__title__Project_object______"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/sections/search": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "Search Sections",
        "description": "Search active sections by name, optionally filtered by project.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "search_sections_api_v1_sections_search_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "description": "Search query to match section names. Matching is case-insensitive. Queries are matched literally unless `*` (wildcard) is included. Use `\\*` for literal asterisk and `\\\\` for literal backslash.",
              "examples": [
                "To Do",
                "Week *",
                "Q* 2026",
                "Draft\\*"
              ],
              "title": "Query"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the project to search sections from. If omitted or null, search sections from all projects.",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_SectionSyncView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/collaborators": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Project Collaborators",
        "description": "Get all collaborators for a given project.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_project_collaborators_api_v1_projects__project_id__collaborators_get",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_Collaborator_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/unarchive": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Unarchive Project",
        "description": "Marks a previously archived project as active again. For personal projects, this\nwill make the project visible again for the initiating user. For workspace projects,\nthis will make the project visible again for all applicable workspace users.",
        "operationId": "unarchive_project_api_v1_projects__project_id__unarchive_post",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PersonalProjectSyncView"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceProjectSyncView"
                    }
                  ],
                  "title": "Response Unarchive Project Api V1 Projects  Project Id  Unarchive Post",
                  "description": "Can be either a personal or a workspace project."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/sections/{section_id}/unarchive": {
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "Unarchive Section",
        "description": "Marks a section as active again.",
        "operationId": "unarchive_section_api_v1_sections__section_id__unarchive_post",
        "parameters": [
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the section",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/archive": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Archive Project",
        "description": "Marks a project as archived. For personal projects, this will archive it just for\nthe initiating user (leaving it visible to any other collaborators). For workspace\nprojects, this will archive it for all workspace users, removing it from view.",
        "operationId": "archive_project_api_v1_projects__project_id__archive_post",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PersonalProjectSyncView"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceProjectSyncView"
                    }
                  ],
                  "title": "Response Archive Project Api V1 Projects  Project Id  Archive Post",
                  "description": "Can be either a personal or a workspace project."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/sections/{section_id}/archive": {
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "Archive Section",
        "description": "Marks a section as archived.",
        "operationId": "archive_section_api_v1_sections__section_id__archive_post",
        "parameters": [
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the section",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/join": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Join",
        "description": "_Only used for workspaces_\n\nThis endpoint is used to join a workspace project by a workspace_user and\nis only usable by the workspace user.",
        "operationId": "join_api_v1_projects__project_id__join_post",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_GetDataV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/labels/search": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Search Labels",
        "description": "Search user labels by name.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "search_labels_api_v1_labels_search_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "description": "Search query to match label names. Matching is case-insensitive. Queries are matched literally unless `*` (wildcard) is included. Use `\\*` for literal asterisk and `\\\\` for literal backslash.",
              "examples": [
                "urgent",
                "priority-*",
                "*-review",
                "5\\*"
              ],
              "title": "Query"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_LabelRestView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/labels/shared": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Shared Labels",
        "description": "Returns a set of unique strings containing labels from active tasks.\n\nBy default, the names of a user's personal labels will also be included.\nThese can be excluded by passing the `omit_personal` parameter.",
        "operationId": "shared_labels_api_v1_labels_shared_get",
        "parameters": [
          {
            "name": "omit_personal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Omit Personal"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_str_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/filter": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Tasks By Filter",
        "description": "Get all tasks matching the filter.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_tasks_by_filter_api_v1_tasks_filter_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "description": "Filter by any [supported filter](https://todoist.com/help/articles/introduction-to-filters-V98wIH). Multiple filters (using the comma `,` operator) are not supported.",
              "title": "Query"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "IETF language tag defining what language filter is written in, if differs from default English",
              "examples": [
                "en",
                "de",
                "fr"
              ],
              "title": "Lang"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ItemSyncView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/quick": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Quick Add",
        "description": "Add a new task using Quick Add with natural language processing.\n\nQuick Add allows creating tasks with rich metadata using natural language text.\nThis endpoint uses the same parsing engine as Todoist's official clients,\nsupporting dates, projects, labels, priorities, assignees, and more in a single\ntext string.\n\n## Basic Syntax Overview\n\n- **Due dates**: Natural language like `today`, `tomorrow at 5pm`, `next Monday`\n- **Projects**: `#ProjectName` (use `#My\\\\ Project` for names with spaces)\n- **Sections**: `/SectionName` (requires a project to be specified)\n- **Labels**: `@labelname` (multiple labels supported)\n- **Priority**: `p1` to `p4`, `P1` to `P4`, or `!!1` to `!!4`\n- **Assignees**: `+Name` (requires a project to be specified)\n- **Deadlines**: `{date expression}` (e.g., `{tomorrow}`, `{in 3 days}`)\n- **Descriptions**: ` // description text` (must be at the end)\n\n## Examples\n\n- `\"Buy milk today at 5pm #Shopping @groceries p1\"`\n- `\"Team meeting next Monday at 10am #Work +JohnDoe\"`\n- `\"Review PR {Friday} // Check the new authentication flow\"`\n- `\"Submit report tomorrow #Work /Urgent @important // Include Q3 metrics\"`\n\n## Important Notes\n\n- Natural language date parsing supports multiple languages based on account settings\n- If parsing fails for any element, the task is still created (with unparsed text\n  remaining in the content)\n- Use the `meta` parameter to see detailed parsing results for debugging\n\nFor comprehensive documentation including all supported date formats, language\nsupport, and advanced syntax, see the\n[Quick Add help article](https://www.todoist.com/help/articles/use-task-quick-add-in-todoist-va4Lhpzz).",
        "operationId": "quick_add_api_v1_tasks_quick_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_40158d1f"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Quick Add Api V1 Tasks Quick Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/reopen": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Reopen Task",
        "description": "Reopens a task.\n\nAny ancestor tasks or sections will also be marked as uncomplete and\nrestored from history.\n\nThe reinstated tasks and sections will appear at the end of the list within\ntheir parent, after any previously active tasks.",
        "operationId": "reopen_task_api_v1_tasks__task_id__reopen_post",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/close": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Close Task",
        "description": "Closes a task.\n\nThe command performs in the same way as our official clients:\n\nRegular tasks are marked complete and moved to history, along with their\nsubtasks. Tasks with [recurring due\ndates](https://todoist.com/help/articles/introduction-to-recurring-dates-YUYVJJAV)\nwill be scheduled to their next occurrence.",
        "operationId": "close_task_api_v1_tasks__task_id__close_post",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/move": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Move Task",
        "description": "Moves task to another project, section or parent.",
        "operationId": "move_task_api_v1_tasks__task_id__move_post",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the task to move",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Task Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_02786f52"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects/{project_id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Project",
        "description": "Deletes a project and all of its sections and tasks.",
        "operationId": "delete_project_api_v1_projects__project_id__delete",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Project",
        "description": "Returns a project object related to the given ID",
        "operationId": "get_project_api_v1_projects__project_id__get",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PersonalProjectSyncView"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceProjectSyncView"
                    }
                  ],
                  "title": "Response Get Project Api V1 Projects  Project Id  Get",
                  "description": "Can be either a personal or a workspace project."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Project",
        "description": "Updated a project and return it",
        "operationId": "update_project_api_v1_projects__project_id__post",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_cb8d28ec"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PersonalProjectSyncView"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceProjectSyncView"
                    }
                  ],
                  "title": "Response Update Project Api V1 Projects  Project Id  Post",
                  "description": "Can be either a personal or a workspace project."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/sections/{section_id}": {
      "delete": {
        "tags": [
          "Sections"
        ],
        "summary": "Delete Section",
        "description": "Delete the section and all of its tasks",
        "operationId": "delete_section_api_v1_sections__section_id__delete",
        "parameters": [
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the section",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "Get Section",
        "description": "Return the section for the given section ID",
        "operationId": "get_section_api_v1_sections__section_id__get",
        "parameters": [
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the section",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "Update Section",
        "operationId": "update_section_api_v1_sections__section_id__post",
        "parameters": [
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the section",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_163067b4"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/comments/{comment_id}": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete Comment",
        "description": "Delete a comment by ID",
        "operationId": "delete_comment_api_v1_comments__comment_id__delete",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the comment",
              "examples": [
                "6XGgmFQrx44wfGHr"
              ],
              "title": "Comment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get Comment",
        "description": "Returns a single comment by ID",
        "operationId": "get_comment_api_v1_comments__comment_id__get",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the comment",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Comment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Update Comment",
        "description": "Update a comment by ID and returns its content",
        "operationId": "update_comment_api_v1_comments__comment_id__post",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the comment",
              "examples": [
                "6XGgmFQrx44wfGHr"
              ],
              "title": "Comment Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_61d93e0e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/NoteSyncView"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Update Comment Api V1 Comments  Comment Id  Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/projects": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Project",
        "description": "Creates a new project and returns it",
        "operationId": "create_project_api_v1_projects_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_207bf8bc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PersonalProjectSyncView"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceProjectSyncView"
                    }
                  ],
                  "title": "Response Create Project Api V1 Projects Post",
                  "description": "Can be either a personal or a workspace project."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Projects",
        "description": "Get all active user projects.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_projects_api_v1_projects_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_Annotated_Union_PersonalProjectSyncView__WorkspaceProjectSyncView___FieldInfo_annotation_NoneType__required_True__title__Project_object______"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/sections": {
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "Create Section",
        "description": "Create a new section",
        "operationId": "create_section_api_v1_sections_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_134c19e9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "Get Sections",
        "description": "Get all active sections for the user, optionally filtered by project.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_sections_api_v1_sections_get",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the project to get sections from. If omitted or null, get sections from all projects.",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_SectionSyncView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/comments": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create Comment",
        "description": "Creates a new comment on a project or task and returns it.\n\nExactly one of `task_id` or `project_id` arguments is required. Providing\nneither or both will return an error.",
        "operationId": "create_comment_api_v1_comments_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_28d2b1b0"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "\n$ cat > /tmp/note.json\n{\n    \"task_id\": \"6X6WMMqgq2PWxjCX\",\n    \"content\": \"Need one bottle of milk\",\n    \"attachment\": {\n        \"resource_type\": \"file\",\n        \"file_url\": \"https://s3.amazonaws.com/domorebetter/Todoist+Setup+Guide.pdf\",\n        \"file_type\": \"application/pdf\",\n        \"file_name\": \"File.pdf\"\n    }\n}\n^C\n\n$ curl \"https://api.todoist.com/api/v1/comments\" \\\n    -X POST \\\n    --data @/tmp/note.json \\\n    -H \"Content-Type: application/json\" \\\n    -H \"X-Request-Id: $(uuidgen)\" \\\n    -H \"Authorization: Bearer $token\"\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get Comments",
        "description": "Get all comments for a given task or project.\n\nExactly one of `task_id` or `project_id` arguments is required. Providing\nneither or both will return an error.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_comments_api_v1_comments_get",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the project",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_NoteSyncView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/labels/{label_id}": {
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Delete Label",
        "description": "Deletes a personal label. All instances of the label will be removed from tasks",
        "operationId": "delete_label_api_v1_labels__label_id__delete",
        "parameters": [
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "String ID of the label",
              "examples": [
                "2147509004"
              ],
              "title": "Label Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get Label",
        "operationId": "get_label_api_v1_labels__label_id__get",
        "parameters": [
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "String ID of the label",
              "examples": [
                "2147509004"
              ],
              "title": "Label Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelRestView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Update Label",
        "operationId": "update_label_api_v1_labels__label_id__post",
        "parameters": [
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "String ID of the label",
              "examples": [
                "2147509004"
              ],
              "title": "Label Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_9c41452d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelRestView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/labels": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create Label",
        "operationId": "create_label_api_v1_labels_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_38bb43e2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelRestView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get Labels",
        "description": "Get all user labels.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_labels_api_v1_labels_get",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_LabelRestView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete Task",
        "operationId": "delete_task_api_v1_tasks__task_id__delete",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task",
        "description": "Returns a single active (non-completed) task by ID",
        "operationId": "get_task_api_v1_tasks__task_id__get",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          },
          {
            "name": "public_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Public Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update Task",
        "description": "Updates an existing task.",
        "operationId": "update_task_api_v1_tasks__task_id__post",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "String ID of the task",
              "examples": [
                "6XGgmFVcrG5RRjVr"
              ],
              "title": "Task Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_829067ab"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create Task",
        "description": "Create a new task.",
        "operationId": "create_task_api_v1_tasks_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_37565102"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSyncView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Tasks",
        "description": "Get all active tasks for the user.\n\nAll provided parameters are used to narrow down the list of tasks.\n\nThis is a paginated endpoint. See the [Pagination guide](#tag/Pagination) for details on using cursor-based pagination.",
        "operationId": "get_tasks_api_v1_tasks_get",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the project to get tasks from",
              "examples": [
                "6XGgm6PHrGgMpCFX"
              ],
              "title": "Project Id"
            }
          },
          {
            "name": "section_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the section to get tasks from",
              "examples": [
                "6fFPHV272WWh3gpW"
              ],
              "title": "Section Id"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "String ID of the parent task to get sub-tasks from",
              "examples": [
                "6fFPHRxcmVqm4C84"
              ],
              "title": "Parent Id"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter tasks by label name",
              "title": "Label"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A list of the task IDs to retrieve, this should be a comma separated list",
              "examples": [
                "6XGgmFVcrG5RRjVr,6fFPHV272WWh3gpW"
              ],
              "title": "Ids"
            }
          },
          {
            "name": "goal_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter tasks linked to this goal (UUID)",
              "title": "Goal Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "pattern": "^[0-9a-zA-Z_-]+\\.[0-9a-zA-Z_-]+$",
                  "description": "An opaque string used as the cursor for pagination. Must be used with the same parameters from the previous request",
                  "examples": [
                    "14540000435w8hj8pXXwPQJJch.X9DBH8ya2Xenok55"
                  ]
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": 0,
              "description": "The number of objects to return in a page",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ItemSyncView_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "User Info",
        "description": "Get information about the currently authenticated user.",
        "operationId": "user_info_api_v1_user_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserJSON"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RoleToActionMappingView": {
        "properties": {
          "project_collaborator_actions": {
            "items": {
              "$ref": "#/components/schemas/RoleView"
            },
            "type": "array",
            "title": "Project Collaborator Actions"
          },
          "workspace_collaborator_actions": {
            "items": {
              "$ref": "#/components/schemas/RoleView"
            },
            "type": "array",
            "title": "Workspace Collaborator Actions"
          }
        },
        "type": "object",
        "required": [
          "project_collaborator_actions",
          "workspace_collaborator_actions"
        ],
        "title": "RoleToActionMappingView"
      },
      "RoleView": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CollaboratorRole"
              },
              {
                "$ref": "#/components/schemas/WorkspaceRole"
              }
            ],
            "title": "Name"
          },
          "actions": {
            "items": {
              "$ref": "#/components/schemas/ActionView"
            },
            "type": "array",
            "title": "Actions"
          }
        },
        "type": "object",
        "required": [
          "name",
          "actions"
        ],
        "title": "RoleView"
      },
      "ActionView": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "ActionView"
      },
      "WorkspaceRole": {
        "type": "string",
        "enum": [
          "ADMIN",
          "MEMBER",
          "GUEST"
        ],
        "title": "WorkspaceRole",
        "description": "Role of the user inside the workspace"
      },
      "CollaboratorRole": {
        "type": "string",
        "enum": [
          "CREATOR",
          "ADMIN",
          "READ_WRITE",
          "EDIT_ONLY",
          "COMPLETE_ONLY"
        ],
        "title": "CollaboratorRole",
        "description": "User role in the project. For personal project the role should be always \"CREATOR\"\nUser role for projects v1 maybe specified as \"CREATOR\" or \"ADMIN\", because in the\npast there was no permissions."
      },
      "Body_02786f52": {
        "properties": {
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Project Id",
            "description": "ID of the project to move the task to",
            "examples": [
              "6XGgm6PHrGgMpCFX"
            ]
          },
          "section_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Section Id",
            "description": "ID of the section to move the task to",
            "examples": [
              "6fFPHV272WWh3gpW"
            ]
          },
          "parent_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent Id",
            "description": "ID of the parent task to move the task under",
            "examples": [
              "6fFPHRxcmVqm4C84"
[...]
